**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
docker-compose*
dockerfile*
*.dockerfile
node_modules
**/npm-debug.log
**/obj
**/*.md
**/test